html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}

h1 {
  font-size: 60px;
  text-align: center;
}

a,
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #32A8A8;
}

body {
  width: 600px;
  margin: 0 auto; /*顺序为上右下左，这里都是0 --- margin是跟其他元素之间的距离*/
  background-color: #ff9500;
  padding: 0 20px 20px 20px;/*顺序为上右下左，这里是上0，下右左都是20px --- padding是content和boader之间的距离*/
  border: 5px solid black; /*这里指的是border宽度为5px，颜色为黑色 */
}

h1 {
  margin: 0;
  padding: 20px 0;/*上下20，左右0，（再比如20，20，20指的是上20，左右20，下20 ）*/
  color: #00539f;
  text-shadow: 3px 3px 1px black; /*第一个为水平偏移度，第二个为垂直偏移度，第三个为模糊半径（越大看起来越模糊） */
}

img {
  display: block;
  margin: 0 auto;
}






